@import ".././../App.css";

.navbar .navbar-brand {
    color: var(--primary);
    font-family: 'Playfair Display', serif;
    font-size: 1.375rem;
}

#site-body {
    /* margin-top: 140px; */
    margin-top: 8.75rem;
}

@media screen and (max-width: 785px) {
    #site-body {
        margin-top: 12rem;
    }
}