@import ".././../App.css";

.main-image {
    width: 100%;
    height: auto;
}

.cropped {
    overflow: hidden;
}

h1 {
    color: var(--primary);
    font-family: 'Playfair Display', serif;
}

.main-btn {
    background-color: var(--primary);
    color: white;
    width: 10rem;
    border: none;
}

.main-href {
    text-decoration: none;
    color: white;
}

.main-href:hover {
    color: black;
}

.page-header {
    text-align: center;
}

.my-post-card {
    width: 18rem;
}

.half {
    width: 50%;
}

.second {
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .content-div {
        flex-direction: column-reverse;
    }

    .half {
        width: 100%;
    }
}