:root {
  --primary: #F46F4C;
}

#body-content {
  min-height: calc(100vh - 129px);
  display: flex;
  flex-direction: column;
}

#site-body {
  margin-top: 140px;
}

@media screen and (max-width: 576px) {
  #site-body {
    margin-top: 180px;
  }
}